!!! 5
html
  head
    title WASP - Dashboard  
    link(href="/stylesheets/screen.css", media="screen, projection", rel="stylesheet", type="text/css")`
    link(href="/stylesheets/print.css", media="print", rel="stylesheet", type="text/css")
    script(type="text/javascript", src="/javascripts/jquery-1.6.4.min.js")
    script(type="text/javascript", src="/javascripts/wasp.js")
    script(type="text/javascript", src="/javascripts/wasp.boxes.js")
    script(type="text/javascript", src="/javascripts/wasp.boxes.worker.js")
      
  body
    #content.wrapper
      .box#title
        h1 WASP